node_modules
.next
.husky
package.json
yalc.lock
yarn-error.log
jsconfig.json
.eslintrc.js
.eslintignore
.prettierrc
.env
.env.example
tsconfig.json
tailwind.config.js
tailwind.config.ts
postcss.config.js
next-env.d.ts
next.config.js
components/ui/*
package-lock.json
README.md
components.json
global/*.css